<app-app-top-bar></app-app-top-bar>
<div class="content">
    <section class="painel">
        <div class="imagem">
            <img class="logohome" src="../../assets/logo2.png" alt="logo"  >
            
        </div>
    </section>
    <section class="produtos">
        <div class="apresentacao">
            <p>
                Sua melhor experiência em albuns
            </p>
        </div>

        <div class="albuns">
            <mat-card class="card" data-aos="fade-up"
            data-aos-duration="3000">
               
                <img mat-card-image src="../../assets/exemplo1.jpg" alt="exemplo1">
                <mat-card-content>
                <p style="color: #5b6269; font-family: Gulzar;" >
                    Álbum com caixa box e capa do álbum com 
                    revestimento natural e gravação laser. Detalhe da foto da capa do álbum em acrílico cristal.
                </p>
                </mat-card-content>
                <mat-card-actions>
                <button mat-raised-button>compartilhar</button>
                <a routerLink="/novo-pedido">
                <button mat-raised-button color="warn">comprar</button>
                </a>
                </mat-card-actions>
            </mat-card>

            <mat-card class="card" data-aos="fade-up"
            data-aos-duration="2000">
               
                <img mat-card-image src="../../assets/exemplo2.jpg" alt="exemplo1">
                <mat-card-content>
                <p style="color: #5b6269; font-family: Gulzar;" >
                    Lindo álbum 25x25, capa fotográfica em 
                    uma caixa com revestimento glitter tampa em acrílico com impressão especial no acrílico.
                </p>
                </mat-card-content>
                <mat-card-actions>
                <button mat-raised-button>compartilhar</button>
                <button mat-raised-button color="warn">comprar</button>
                </mat-card-actions>
            </mat-card>

             <mat-card class="card" data-aos="fade-up"
             data-aos-duration="1000">
               
                <img mat-card-image src="../../assets/exemplo3.jpg" alt="exemplo1">
                <mat-card-content>
                <p style="color: #5b6269; font-family: Gulzar;" >
                    Álbum com caixa box e capa do álbum com 
                    revestimento natural e gravação laser. Detalhe da foto da capa do álbum em acrílico cristal.
                </p>
                </mat-card-content>
                <mat-card-actions>
                <button mat-raised-button>compartilhar</button>
                <button mat-raised-button color="warn">comprar</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="card" data-aos="fade-up"
            data-aos-duration="2000">
               
                <img mat-card-image src="../../assets/exemplo4.jpg" alt="exemplo1">
                <mat-card-content>
                <p style="color: #5b6269; font-family: Gulzar;" >
                    Álbum com caixa box e capa do álbum com 
                    revestimento natural e gravação laser. Detalhe da foto da capa do álbum em acrílico cristal.
                </p>
                </mat-card-content>
                <mat-card-actions>
                <button mat-raised-button>compartilhar</button>
                <button mat-raised-button color="warn">comprar</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </section>

    <app-app-footer-bar></app-app-footer-bar>
</div>

